<div class="row mt-5" style="width: 1000px; margin: 0 100px;">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
       <img class="img-zalo" style="max-width:20" src="https://inkythuatso.com/uploads/thumbnails/800/2021/09/zalo-logo-inkythuatso-14-15-05-01.jpg" alt="">
        <p>Tạo tài khoản hoặc đăng nhập</p>
        <a style="border-radius: 10px;" href="/users/login" class="btn btn-primary btn-block">Đăng Nhập</a>

        <a style="border-radius: 10px; margin-top:20px"href="/users/register" 
          >Đăng kí tài khoản</a
        >
      </div>
    </div>
  </div>